.movie {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5px;
  cursor: pointer;
  place-items: center;
}

.movie img {
  max-width: 100%;
  min-height: 100%;
  transition: opacity 0.3s ease-in-out;
}

.movie img {
  opacity: 0.8;
}

.movie img:hover {
  opacity: 1;
}

.movie a {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slideWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 4%;

  .slick-list {
    margin: 0 -7px;
    .slick-slide > div {
      padding: 0 10px;
    }
  }
}
