.nav {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  z-index: 10;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 4%;
}

.logo {
  width: 40px;
  height: 40px;
}

.cart {
  width: 24px;
  height: 24px;
}

/* .nav img {
  width: 40px;
  height: 40px;
} */

.nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}
